# Telegram API Credentials
API_ID=your_api_id_here
API_HASH=your_api_hash_here

# Bot Token
BOT_TOKEN=your_bot_token_here

# Database
MONGO_DB=your_mongodb_connection_string_here

# Other Settings
OWNER_ID=your_owner_id_here
LOG_GROUP=your_log_group_id_here
CHANNEL_ID=your_channel_id_here
FREEMIUM_LIMIT=10
PREMIUM_LIMIT=5000
WEBSITE_URL=upshrink.com
AD_API=your_ad_api_key_here

# Cookies
INSTA_COOKIES=
YT_COOKIES=
